<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form method="POST">
            <p>Please enter the question</p>
            <input type="text" name="question"/>
            <p>Enter the options for the question</p>
            <p>option 1</p>
            <input type="text" name="option1" />
            <p>option 2</p>
            <input type="text" name="option2" />
            <p>option 3</p>
            <input type="text" name="option3" />
            <p>option 4</p>
            <input type="text" name="option4" />
            <p>Correct answer</p>
            <input type="text" name="answer"/>
            <input type="text" name="friend" placeholder="enter the Friend's name" />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>