<!DOCTYPE html>
<html>
<head>
  <title>Cheat Sheet</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>Cheat Sheet</h1>
  </header>
    <iframe src="{{ url_for('static', filename='cheatsheet.pdf', _external=True) }}" width="100%" height="700px"></iframe>
  <footer>
    <a href="{{ url_for('static', filename='cheatsheet.pdf', _external=True) }}" download>Download Cheat Sheet</a>
  </footer>
</body>
</html>
