<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form method="POST">
            <p>{{q}}</p>
            {% for i in options %}
                <input name = "answer" type="radio" value={{i}}>{{i}}</input>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </body>
</html>

The average time complexity is O(log(n)), for insertion and search operations, 
where n is the number of nodes in the tree.  In general, the time complexity of 
operations on a binary search tree is dependent on the height of the tree. 
The worst-case time complexity of a binary search tree is O(n). 
This occurs when the binary search tree is a degenerate tree; all nodes have only
 one child and the tree becomes a linked list.

